* {
    margin: 0;
    padding: 0;
}
/* Cabeçalho */
.img-logo-header {
    width: 70px;
}

header, .navegacao-header {
    display: flex;
    align-items: center;
}

header {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 3%;
}

.navegacao-header {
    list-style-type: none;
    gap: 1em;
}

.navegacao-header a {
    text-decoration: none;
    color: #1c1c1c;
    transition: 1s;
    font-weight: bold;
}

.active {
    background-color:  #9ffa97;
    padding: 10px;
    border-radius: 10px;
}

/* Conteúdo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

main {
    max-width: 800px;
    margin: 10px;
    margin-left: 20%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

.titulo_conteudo{
    font-size: x-large;
}

.subttulo_conteudo{
    margin-left: 35px;
}

article h3 {
    color: #333;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 10px;
}

article a {
    color: #3498db;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    bottom: 0;
    background-color:  #9ffa97;
    width: 100%;
    height: 40px;
}

footer a {
    color: #1c1c1c;
    text-decoration: none;
    padding: 0 100px;
}